.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  background-image: linear-gradient(to bottom, rgb(99, 128, 217), rgb(73, 73, 200) 80%);
  color: #FFF;
  transition: 0.4s;
  user-select: none;
}

@media (max-width: 768px) {
  .App {
      gap: 3rem;
  }
}

@media (max-width: 545px) {
  .App {
      gap: 2rem;
  }
}
